body {
  background-color: #F7F9FC;
  font-family: 'Raleway', sans-serif;
  text-align: center;
  font-weight: 400;
}

#container {
  max-width: 800px;
  margin: 0px auto;
  padding: 0 20px;
}


.profilepic {
  width: 150px;
  height: 150px;
  border-radius:50%;
}

.heading-icon {
  font-size: 30px;
  color: #465881;
  margin-bottom: -10px;
}

.card-white {
  background-color: white;
  padding: 40px;
  box-shadow: 0px 10px 20px rgba(50,115,255,0.3);
  border-radius: 4px;
  margin: 24px auto;
  text-align: center;
  transition: transform .2s;
}

@media (min-width: 1400px) {
  .card-white:hover {
    transform: scale(1.02);
  }
}

a:hover {
  color: #818eaa;
}


.horizontal-links {
  padding: 0;
}

.horizontal-links li {
  display: inline-block;
  list-style: none;
  padding: 10px;
}


.horizontal-links i {
  font-size: 60px;
  color: #465881;
}

.horizontal-links i:hover {
  color: #97999e;
}

p {
  padding-left: 80px;
  padding-right: 80px;
  font-size: 16px;
}

@media (max-width: 600px) {

  p {
    padding-left: 20px;
    padding-right: 20px;
    font-size: 14px !important;
  }
}

.description {
  margin-bottom: 40px;
}


#email {
  background-color: #465881;
  color: white;
  padding: 15px 20px;
  border-radius: 4px;
  text-decoration: none;
}

#email:hover {
  background-color: #818eaa;
}

.fa-envelope {
  padding-right: 20px;
}

@media (max-width: 600px) {
  .card-white {
    box-shadow: 0px 10px 10px rgba(50,115,255,0.3);
    margin-bottom: 40px;
    padding: 10px;  
  }

  .fa-envelope {
    padding-right: 30px;
  }
}

.projects {
  display:flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.project-card {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin: 10px;
  width: 50vw;
  height: 400px !important;
}

@media (max-width: 780px) {
  .project-card {
    height: 450px !important;
  }
  .project-info {
    height: 210px !important;
  } 
}

.project-card > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.project-card h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.project-card p {
  font-size: 14px;
  opacity: .7;
  margin: 0;
  padding: 0;
}

.project-info {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  position: relative;
  text-align: left;
  height: 160px;
}

.project-info h2 {
  font-weight: bolder;
  font-size: 20px;
  padding-bottom: 5px;
}

.view-btn {
  margin-top: 10px;
  text-align: center;
  text-decoration: none;
  background: #0065ff;
  color: white;
  border: 1px solid 0065ff;
  padding: 4px 16px;
  border-radius: 30px;
  font-weight: lighter;
  opacity: 0.7;
  transition: opacity 0.3s ease;
  transition: all .2s ease-in-out;
}

.view-btn:hover {
  transform: scale(1.05);
  opacity: 1;
  color: white;
  font-weight: bolder;
}

.tools {
  font-style: italic;
}

.text-focus-in{-webkit-animation:text-focus-in 1.5s cubic-bezier(.55,.085,.68,.53) both;animation:text-focus-in 1.5s cubic-bezier(.55,.085,.68,.53) both}
@-webkit-keyframes text-focus-in{0%{-webkit-filter:blur(12px);filter:blur(12px);opacity:0}100%{-webkit-filter:blur(0);filter:blur(0);opacity:1}}@keyframes text-focus-in{0%{-webkit-filter:blur(12px);filter:blur(12px);opacity:0}100%{-webkit-filter:blur(0);filter:blur(0);opacity:1}}

.hidden {
  display: none !important;
}
